PORT=5000
NODE_ENV=development
FRONTEND_URL=https://your-aws-frontend-url.com # VERY IMPORTANT: Set this to your live frontend URL for CORS

# Database Configuration
MONGO_URI=mongodb://localhost:27017/a4mam
# For Production use: MONGO_URI=mongodb+srv://<username>:<password>@cluster0...

# JWT Token
JWT_SECRET=your_jwt_secret_key_here


# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=noreply@a4mam.org

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
PAYMENT_TEST_MODE=true